<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Stok Takip Sistemi
            </div>
            <div class="col-lg-12 login-title">
                Kayıt Ol
            </div>
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <div class="form-group">
                            <%= f.text_field :name, class:"form-control", placeholder:"Adınız", required: true%>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :surname, class:"form-control", placeholder:"Soyadınız", required: true%>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :title, class:"form-control", placeholder:"Ünvanınız", required: true%>
                        </div>
                        <div class="form-group">
                            <%= f.email_field :email, class:"form-control", placeholder:"Email", required: true%>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password, class:"form-control", placeholder:"Parola", required: true %>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Parola Tekrar", required: true %>
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="capsule" >
                                <div class="col-lg-6 login-btm login-button loginbttm">
                                    <%= link_to "GİRİŞ YAP", new_user_session_path, class: "btn btn-outline-primary btn-margin" %>
                                    <button type="submit" class="btn btn-outline-primary">KAYDOL</button>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
