  <!DOCTYPE html>
<html>
  <head>
    <title>StokTakip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.css">
    <%= stylesheet_link_tag 'menu' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js"></script>

  </head>

  <body>
    <% flash.each do |key, value| %>
      <script>
        $('body')
          .toast({
            class: '<%= key == "error2" ? "error" : key %>',
            showIcon: false,
            message: '<%= value %>'
          })
        ;
      </script>
    <% end %>
    <div class="site-wrap">
      <nav class="site-nav">
        <div class="name">
          STOK TAKİP SİSTEMİ
        </div>
        <ul>
          <li class="<%='active' if params[:controller] == 'storage'%>">
            <%= link_to storage_index_path do %>
              <i class="clipboard list icon"></i>
              Depolar
            <%end%>
          </li>
          <% if current_user.admin? %>
            <li class="<%='active' if params[:controller] == ''%>">
              <%= link_to users_path do %>
                <i class="users icon"></i>
                Kullanıcılar
              <%end%>
            </li>
          <%end%>
          <li class"<%='active' if params[:controller] == ''%>">
            <%= link_to root_path do %>
              <i class="file alternate icon"></i>
              Raporlar
            <%end%>
          </li>
          <li>
            <a style="cursor: pointer" id="edit-user-profile-button">
              <i class="user icon"></i>
              Profil
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="sign out alternate icon"></i>
              Çıkış Yap
            <% end %>
          </li>
        </ul>
      </nav>
      <%= yield %>
      <div class="ui small modal" id="edit-user-profile-modal">
        <div class="header">
          <p><%= current_user.title.humanize + " - " + current_user.name.humanize + " " + current_user.surname.humanize %></p>
          <p><%= current_user.email %></p>
        </div>
        <div class="content">
          <%= form_for(current_user, url: password_update_path(current_user.id), html: {class: "ui form", method: :patch }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="field">
              <label>Parola</label>
              <%= f.password_field :current_password, autofocus: true, autocomplete: "new-password" %>
            </div>
            <div class="field">
              <label>Yeni Parola</label>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
            </div>
            <div class="field">
              <label>Yeni Parola</label>
              <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password" %>
            </div>
            <button class="ui primary right floated button" type="submit" style="margin-bottom:10px">Düzenle</button>
          <% end %>
        </div>
      </div>
      <script>
        $('#edit-user-profile-button').click(function(event) {
              $('#edit-user-profile-modal')
                  .modal({
                      autofocus: false
                  })
                  .modal('show');
        })
      </script>
    </div>
  </body>
</html>
